body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

#newTaskText {
  width: 300px;
}

.pointer {
  cursor: pointer;
  padding: 0 5px;
  border-radius: 5px;
}

.pointer:hover {
  background-color: lightgray;
}

.completed {
  text-decoration: line-through;
  color: lightgray;
}

.simple-input {
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(221, 221, 221, 0.39);
}

.priority-icon {
  padding-right: 5px;
}

.sort-select {
  width: fit-content;
}

.priority-list {
  --bs-dropdown-min-width: fit-content;
}

.form-check-label {
  white-space: nowrap;
  overflow: hidden;
  width: 8rem;
  text-overflow: ellipsis;
  display: inline-block;
}

.container {
  padding-top: 20px;
  padding-bottom: 10px;
  border: 1px solid #adb5bd !important;
  border-radius: 25px;
  background-color: #f7f9f9 !important;
}
.form-check {
  min-height: 12px !important;
  min-width: 12px !important;
  padding: 0px;
}
.cyberpunk-checkbox {
  appearance: none;
  border: 1px solid #03001c;
  border-radius: 3px;

  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 5px;
  cursor: pointer;
}

.cyberpunk-checkbox:before {
  content: "";
  background-color: #03001c;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 12px;
  height: 12px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.cyberpunk-checkbox:checked:before {
  transform: translate(-50%, -50%) scale(1);
}

#task-input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #8d8df0;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  cursor: pointer;
  border: none;
}

#task-input:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #d1d1f9;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

#task-input:hover::after {
  right: auto;
  left: 0;
  width: 100%;
  height: 100%;
}

#task-input span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 5px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

#task-input:hover span {
  color: black;
  animation: scaleUp 0.3s ease-in-out;
}

@media (min-width: 370px) {
  .form-check-label {
    width: 12rem;
  }
}
@media (min-width: 470px) {
  .form-check-label {
    width: 18rem;
  }
}
@media (min-width: 576px) {
  .form-check-label {
    width: 22rem;
  }
}
@media (max-width: 576px) {
  .container {
    border: none !important;
  }
}

@media (min-width: 768px) {
  .form-check-label {
    width: 26rem;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 15px !important;
  }
}

@media (min-width: 992px) {
  .form-check-label {
    width: 28rem;
  }
}

@media (min-width: 1200px) {
  .form-check-label {
    width: 24rem;
  }
}

@media (min-width: 1400px) {
  .form-check-label {
    width: 30rem;
  }
}
